<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>POS in Express</title>

  <link href="../css/style.css" rel="stylesheet">

  <script src="../js/alpine.min.js" defer></script>
  <script src="../js/htmx.min.js" defer></script>
</head>

<body>
  <h1 class="text-4xl text-cyan-700 font-bold">POS in Express</h1>
  <p class="text-canceled text-lg">Lorem ipsum dolor sit amet consectetur adipisicing.</p>

</body>

</html>
