@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 375ms ease-in-out;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  font-family: "Reddit Sans";
}

.receipt {
  font-family: "M PLUS 1 Code";
}
